* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background: $white;
  font-size: $fontSize;
  font-family: $fontFamily;
  font-weight: 400;
  line-height: 1.2;
  height: 100vh;
  color: #000;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

h1 {
  font-family: $fontFamilyFraunces;
  font-weight: 900;
  font-size: 2rem;
  color: $white;
  letter-spacing: 3px;
  padding-bottom: 1rem;
}

h2 {
  font-family: $fontFamilyFraunces;
  font-weight: 900;
  color: $veryDarkDesaturatedBlue;
  width: 80%;
  margin: auto;
  padding-bottom: 1rem;
}

ul {
  list-style: none;
}

*::placeholder {
  font-family: $fontFamily;
  color: $veryDarkDesaturatedBlue;
}

a {
  text-decoration: none;
  color: inherit;
}

// utilitys
.container {
  color: $yellow;
  max-width: $containerWidth;
  min-height: 100%;
  margin: auto;
  padding: 50px 25px 20px 25px;
  text-align: center;
}

.grid__container {
  display: grid;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Javascript
.hide {
  display: none;
}
